---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Background" sideBarActiveItemID="background">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <section class="mb-14">
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Background</div>
    </div>

    <div class="grid gap-12">
      <div>
        <div class="text-2xl font-semibold mb-4">Education</div>
        <div class="time-line-container grid gap-4">
          <TimeLineElement
            title="Ph.D."
            subtitle="Sep 2023 - Present 路 Rensselaer Polytechnic Institute (RPI), Troy, NY, U.S."
          >
            Ph.D. student in Computer Science.
          </TimeLineElement>
          <TimeLineElement
            title="M.S."
            subtitle="Aug 2021 - Mar 2023 路 University of Chicago, Chicago, IL, U.S."
          >
            M.S. in Financial Mathematics.
          </TimeLineElement>
          <TimeLineElement
            title="B.S."
            subtitle="Aug 2017 - May 2021 路 Reed College, Portland, OR, U.S."
          >
            B.S. in Mathematics and Economics.
          </TimeLineElement>
        </div>
      </div>

      <div>
        <div class="text-2xl font-semibold mb-4">Experience</div>
        <div class="time-line-container">
          <TimeLineElement
            title="Research Intern"
            subtitle="May 2024 - Jan 2025 路 NEC Laboratories America, Princeton, NJ, U.S."
          />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
